openapi: 3.2.0
info:
  title: Events Calendar REST Common API
  version: 1.0.0
  description: The Events Calendar REST API allows accessing upcoming events information easily and conveniently.
  contact:
    name: The Events Calendar
    email: support@theeventscalendar.com
servers:
- url: https://unclenearest.com/wp-json/tec/v1
tags:
- name: Common
  description: These operations are introduced by the Common library.
paths:
  /docs:
    get:
      summary: Get the documentation for the TEC REST API
      security: []
      description: Returns the documentation for The Events Calendar REST API in Swagger consumable format.
      operationId: getOpenApiDocs
      tags:
      - Common
      parameters: []
      responses:
        '200':
          description: Returns the documentation for The Events Calendar REST API in Swagger consumable format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenApiDocumentation'
components:
  schemas:
    OpenApiPath:
      type: object
      properties:
        get:
          type: object
          description: The GET method for the path.
          properties:
            description:
              type: string
              description: The description of the GET method.
            parameters:
              type: array
              description: The parameters of the GET method.
              items:
                type: object
                description: A parameter.
                properties:
                  name:
                    type: string
                    description: The name of the parameter.
                  in:
                    type: string
                    description: The location of the parameter.
                  required:
                    type: boolean
                    description: Whether the parameter is required.
                  schema:
                    type: object
                    description: The schema of the parameter.
            responses:
              type: object
              description: The responses of the GET method.
              properties:
                '200':
                  type: object
                  description: The response for the GET method.
                  properties:
                    content:
                      type: object
                      description: The content of the response.
                      properties:
                        application/json:
                          type: object
                          description: The JSON content of the response.
                          properties:
                            schema:
                              type: object
                              description: The schema of the content.
                              properties:
                                type:
                                  type: string
                                  description: The type of the content.
    OpenApiDocumentation:
      type: object
      properties:
        openapi:
          type: string
          description: The OpenAPI version.
        info:
          type: object
          description: The API info.
          properties:
            title:
              type: string
              description: The API title.
            version:
              type: string
              description: The TEC REST API version.
            description:
              type: string
              description: The API description.
            contact:
              type: object
              description: The API contact.
              properties:
                name:
                  type: string
                  description: The name of the contact.
                email:
                  type: string
                  description: The email of the contact.
                  format: email
        components:
          type: object
          description: The OpenAPI components.
          properties:
            schemas:
              type: object
              description: The OpenAPI schemas.
        servers:
          type: array
          description: The OpenAPI servers.
          items:
            type: object
            description: A server.
            properties:
              url:
                type: string
                description: The server URL.
                format: uri
        paths:
          type: object
          description: The OpenAPI paths.
          properties:
            OpenApiPath:
              $ref: '#/components/schemas/OpenApiPath'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
